In [1]:
a = 5
a

5

In [2]:
type(a)

int

In [3]:
b = 5.6
type(b)

float

In [5]:
a = 'Ajay'
type(a)

str

In [6]:
2+3

5

In [8]:
type("2")

str

In [7]:
"2" + 3 #it will throw an error

TypeError: can only concatenate str (not "int") to str

In [9]:
#Type casting/type conversion>> The preocess of changing the data type of a value/object
#why?while executing/computation using operators, there can be mismatch between the datatype

In [10]:
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [11]:
type(a)

str

In [12]:
a = "2"
b = 3
int(a)+b

5

In [14]:
#string to integer
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [15]:
#float to integer
a = 3.4
type(a)

float

In [17]:
a

3.4

In [16]:
int(a)

3

In [19]:
b = 6.78
type(b)
float_value = int(b)
type(float_value)

int

In [20]:
#integer to float
a = 2
type(a)

int

In [21]:
b = float(a)
b

2.0

In [22]:
type(b)

float

In [23]:
#string to float
a = "2.3"
type(a)

str

In [25]:
b = float(a)
type(b)

float

In [26]:
a = "Ajay" #character cannot be converted into numbers
type(a)

str

In [27]:
int(a)

ValueError: invalid literal for int() with base 10: 'Ajay'

In [28]:
float(a)

ValueError: could not convert string to float: 'Ajay'

In [29]:
#integer to string
a = 5
type(a)

int

In [30]:
a

5

In [32]:
c = str(a)

In [33]:
c

'5'

In [34]:
type(c)

str

In [35]:
#Typecasting>> implicit and explicit

In [36]:
#implicit typecasting >> python understand the datatype
a = 5
type(a)

int

In [37]:
2+3

5

In [38]:
2+3.5

5.5

In [39]:
#explicit typecasting >> convert data type using inbuilt functiond>> str, int, float, bool
a = "2"
type(a)

str

In [40]:
int(a)

2

In [41]:
float(a)

2.0

In [42]:
2+3

5

In [44]:
a = "Ajay"
b = 5
a + b

TypeError: can only concatenate str (not "int") to str

In [45]:
a = "Ajay"
b = " Kumar Gupta"
a + b #concatenation of string>> meaning combine the string

'Ajay Kumar Gupta'

In [46]:
"pw" + "skills"

'pwskills'

In [47]:
"100" + " Ajay"

'100 Ajay'

In [48]:
#bool
bool(0)

False

In [49]:
bool(1)

True

In [50]:
bool(100)

True

In [51]:
bool(10000)

True