In [1]:
print("hello world")

hello world

In [3]:
len("pwskills")

8

In [5]:
type(5)

int

In [7]:
type(5.4)

float

In [ ]:
#function>>print, lenght,type>>it is inbuild type python function
#ceill>>roof>> it will give the nearest heights value
#floor>>ground>>it will give the nerarest lowest value

In [13]:
import math as m #math(library)is a collection of function
import

SyntaxError: invalid syntax (1842465647.py, line 2)

In [17]:
m.floor(6.5)

6

In [ ]:
#inbuild function
#user define function()

In [ ]:
#syntax of function
#def fun():
 # do something >>body of function
#function>> is a block of code which perfome some specific task and computation
#why function>> function ARE reusable, neat, claen and organised, save time

In [1]:
print("welcome to the office arzoo")
print("welcome to the office priya")
print("welcome to the office sonu")
print("welcome to the office rahul")

welcome to the office arzoo
welcome to the office priya
welcome to the office sonu
welcome to the office rahul

In [13]:
def greetings():
    print("welcome to the office")
greetings()

welcome to the office

In [11]:
def func():
    print("this is my first function")
func()

this is my first function

In [15]:
"this is my first function" + "in python"

'this is my first functionin python'

In [7]:
def func():
    return "this is my first function", 1, 2, 2.3, True, 3+7j

In [9]:
func()

('this is my first function', 1, 2, 2.3, True, (3+7j))

In [11]:
a = func()
type(a)

tuple

In [13]:
a, b, c, d, e, f  = func()

('this is my first function', 1, 2, 2.3, True, (3+7j))

In [23]:
def square_no(args):
    return args * args
square_no(106)

11236

In [25]:
def addition(a, b):
    return a+b

In [29]:
addition(6, 6)

12

In [33]:
addition("priya", "jitender")

'priyajitender'

In [ ]:
def sum1(a, b, c):
    return a+b+c

sum1(1, 2, 3)

In [17]:
def add_two_number():
    a = int(input("enter the first number"))
    b = int(input("enter the second number"))
    return a+b

In [19]:
add_two_number()

enter the first number 5
enter the second number 6

11

In [ ]:
#write a function that takes list as inputs and return numeric value

In [25]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [27]:
only_numeric([1, 3 ,5.6, 5+7j, "True", "pwskills", "ajay"])

[1, 3, 5.6]

In [ ]:
#now put in nested list
#only_numeric([1, 3 ,5.6, 5+7j, "True", "pwskills", "ajay", [100, 101, "ajay"]])

In [ ]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(J)
    else 
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [29]:
only_numeric([1, 3 ,5.6, 5+7j, "True", "pwskills", "ajay", [100, 101, "ajay"]])

[1, 3, 5.6]

In [55]:
def sum1(a, b):
    return a + b

In [57]:
sum1(2, 3)

5

In [ ]:
#varable lenght >>when you notb known the no of arguments

In [59]:
def sum1(*argu):
    return argu

In [61]:
sum1(1, 2)

(1, 2)

In [63]:
def test(args, a):
    return args, a

In [69]:
test(1, 2, 3, 4 , a = 100)

TypeError: test() got multiple values for argument 'a'

In [73]:
def retrun_list(*args):
    l = []
    for i in args:
        if type(i) == list:
           l.append(i)
    return l

In [75]:
retrun_list(1, 2 , 4.3, 5+6j, {2, 3}, [2, 5, 6], (4, 5, 6), "True", "ajay")

[[2, 5, 6]]

In [81]:
subpart = "to the course" #global 
def greet():
    message = "hello, welcome" + subpart
    print(message)

In [83]:
greet()

hello, welcometo the course