In [1]:
#Loop statement>> it allow you to execute block of code repetadely
# loops>> while loop and for loop
#while loop >> repetedlly execured a block of code untill the condition is met.

In [2]:
#syntax
#block of code
#while condition
#>> while is a keyword used for a while loop

In [3]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6

In [4]:
count = 5
while count > 0:
    print(count)
    count = count - 1

5
4
3
2
1

In [5]:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
else:
    print("this will be executed while tha loop is run successfully without any break")

1
2
3
4
5
6
this will be executed while tha loop is run successfully without any break

In [6]:
#break terminates/exist the loop
#the condition is met i will break the loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("this will be executed while tha loop is run successfully without any break")

1
2

In [7]:
#continue>> skip the iteration
n = 7
i = 1
while i < n:
    i = i+1
    if i == 3:
        continue
    print(i)
else:
    print("this will be executed while tha loop is run successfully without any break")

2
4
5
6
7
this will be executed while tha loop is run successfully without any break

In [8]:
#for loop>> iterate over a sequence of elements>>string,list
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [9]:
l=[1, 2, "ajay", "pwskills"]
for i in l:
    print(i)

1
2
ajay
pwskills

In [10]:
for i in l:
    print(i)
else:
    print(" this will be execute when for loops end without a break statement")

1
2
ajay
pwskills
 this will be execute when for loops end without a break statement

In [11]:
#break statement for loop
for i in l:
    if i == "ajay":
        break
    print(i)
else:
    print("this will be execute when for loops end without a break statement")

1
2

In [12]:
for i in l:
    if i == "ajay":
        continue
    print(i)
else:
    print("this will be execute when for loops end without a break statement")

1
2
pwskills
this will be execute when for loops end without a break statement

In [13]:
list(range(0,10))
# it will gives the value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
#syntax of range (start, stop, step)
list(range(0 ,10, 2))

[0, 2, 4, 6, 8]

In [35]:
#problem statenment
#print a right triangle with *
row = 1
while row <= 4:
    col = 1
    while col <= row:
        print(col, end = "" )
        col = col+1
    print()
    row = row+1

1
12
123
1234

In [43]:
for i in range(4):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****

In [55]:
#condition with for loops
number = [1, 2, 3, 4, 5, 6, 7, 8, 9,]
for num in number:
    if (num == 3) or (num == 7):
        continue
    print(num)

1
2
4
5
6
8
9

In [57]:
#print the odd number
for i in range(10):
    if i %2 == 0:
        continue
    print(i)

1
3
5
7
9

In [65]:
#multiplication table
for i in range(1,6):
    for j in range(1,11):
        product = i * j
        print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
]