In [1]:
string1 = "pwskills"

In [4]:
string1

'pwskills'

In [8]:
#strings are immutable
s = "pwskills"
s
s(0)

TypeError: 'str' object is not callable

In [12]:
#modification of string
s = "I am a student "
s.replace("student",  "teacher")

'I am a teacher '

In [14]:
#use case
adress = ("suhana apartment, marathali, banglore")
adress

'suhana apartment, marathali, banglore'

In [16]:
adress.replace("sushna apartment" , "sushila apartment")

'suhana apartment, marathali, banglore'

In [18]:
adress

'suhana apartment, marathali, banglore'

In [28]:
Test = "BRB", "TTYL","TMI"
Test
Test.replace("BRB", "be right back")

AttributeError: 'tuple' object has no attribute 'replace'

In [40]:
Test = " hello world"
Test.lower()
Test.upper()

' HELLO WORLD'

In [46]:
Test.tile()

AttributeError: 'str' object has no attribute 'tile'

In [58]:
test = "I am a student"
test.swapcase()

'i AM A STUDENT'

In [60]:
test.capitalised()

AttributeError: 'str' object has no attribute 'capitalised'

In [62]:
#string seraching
sentence = "I am a student of pwskills"
"am" in sentence

True

In [78]:
sentence = "I am a student at pwskilsls"
serach_word = "mat"
if serach_word in sentecne:
    print("serach word present in sentence")
else:
    print("not presented")

NameError: name 'sentecne' is not defined

In [82]:
email = "ajay"
if @ in email:
    print("valid email")
else:
    print("Invalid email")

SyntaxError: invalid syntax (1795662232.py, line 2)

In [84]:
document = "some_file.pdf"
if .pdf in document:
    print("its a pdf file")
else:
    print("no file")

SyntaxError: invalid syntax (3442583987.py, line 2)

In [86]:
#string comparison
str1 = "hello"
str2 = "hello"
str1 == str2

True

In [90]:
str1 = "Hello"
str2 = "hello"
str1 == str2

False

In [92]:
str1 = "Hello"
str2 = "hello"
str1.lower() == str2.lower()

True

In [96]:
product_code = "p12345"
scanned_code = input(" use the product code")
if product_code == scanned_code:
    print("the price is 100")
else:
    print("talk to receptionist")

 use the product code p67

talk to receptionist

In [98]:
#sorted string
list = ["ajay", "vijay", "sanjay"]
sorted(list)

['ajay', 'sanjay', 'vijay']

In [100]:
#common string operator
input_str = "             pwskills          "
input_str

'             pwskills          '

In [104]:
input_str.strip()

'pwskills'

In [112]:
#string splitting
data = "ajay, data science, teacher"
data

'ajay, data science, teacher'

In [ ]:
#escaped charaters>> is a special combination in a cahrater used in strings