In [1]:
a = 5 
a

5

In [3]:
type(a)

int

In [5]:
b = 4.5
b

4.5

In [7]:
type(b)

float

In [9]:
a = 'ajay'
a

'ajay'

In [11]:
type(a)

str

In [14]:
2 + 3

5

In [16]:
"2" + 3 # it will throw error

TypeError: can only concatenate str (not "int") to str

In [ ]:
#type casting/type conversor >>the process of changing the data type of a value/object
#why? while exexciting/computing using operators,there can be mismatch between the data

In [18]:
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [20]:
type(a)

str

In [22]:
a = "2"
b = 3
int(a) + b

5

In [24]:
a = "2" #string to integer
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [26]:
a = 8.9

In [28]:
type(a)

float

In [30]:
int(a)

8

In [32]:
b = 7.43
type(b)
float_value = int(b)
type(float_value)

int

In [34]:
#string to float
a = "2.3"
type(a)

str

In [36]:
float(a)

2.3

In [38]:
b = float(a)
type(b)

float

In [40]:
a = "ajay" #characters can not be converted into numbers
type(a)

str

In [42]:
int(a)

ValueError: invalid literal for int() with base 10: 'ajay'

In [44]:
float(a)

ValueError: could not convert string to float: 'ajay'

In [46]:
#integers to string
a = 5 
a

5

In [64]:
c = str(a)

In [66]:
type(c)

str

In [68]:
#typecasting >>explicit and impliciate
#implicite typecating>> python understand the data type
a = 5
type(a)

int

In [70]:
2+3

5

In [72]:
2+3.5

5.5

In [74]:
#explicite typecating>>convert data type using inbuild function >>str , int , float ,boolen
a = "2"
a

'2'

In [76]:
type(a)

str

In [78]:
int(a)

2

In [80]:
float(a)

2.0

In [82]:
2+3

5

In [86]:
a = "ajay"
b = 5
a+b

TypeError: can only concatenate str (not "int") to str

In [88]:
a = "ajay"
b = "kumar gupta "
a+b

'ajaykumar gupta '

In [90]:
"100" + "ajay"

'100ajay'

In [92]:
#bool
bool(0)

False

In [94]:
bool(1)

True

In [96]:
bool(100)

True

In [98]:
bool(10000)

True

In [102]:
bool("ajay")

True

In [106]:
bool('')

False

In [108]:
bool(-5)

True

In [3]:
age = 17
if age >= 18:
    print("you will drink alcohol")
else:
    print("getv out of bar")

getv out of bar

In [7]:
age = 19
if age >=18:
    print("you are driving with license")
else:
    print("you are not driving")

you are driving with license

In [17]:
is_dscourse = False
if is_dscourse:
    print("i am studying")
else:
    print("i am playing")

i am playing

In [23]:
x = 14
if x > 16:
    print("no is grester than 16")
else:
    print("no is less than 16")

no is less than 16

In [25]:
#if check no is even 
8 % 2

0

In [37]:
num = 4
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [39]:
score = 30
if score >= 33:
    print("you are passed")
else:
    print("you are failled")

you are failled

In [ ]:
#if/else condition # has give two condition
#but in real life we can have multiple condition
#syntax
#if some condition
#elif some condition
#else

In [45]:
a = 100
if a > 100:
    print("this block is execute if a is greater than 100")
elif a < 100:
    print("this block is exexcute if a is lesser than 100")
else:
    print("the number is equals to 100")

the number is equals to 100

In [49]:
a = 100000
if a > 100:
    print("this block is execute if a is greater than 100")
elif a < 100:
    print("this block is exexcute if a is lesser than 100")
elif a > 20000:
    print("this numberv is huge")
else > 100:
    print("this numberv is equal to 100")

SyntaxError: expected ':' (3594675294.py, line 8)

In [53]:
score = 80
if score >= 90:
    print("grade A")
elif ("80<=score<90"):
    print("grade B")
elif("70<=score<60"):
    print("grade C")
else:
    print("grade D")

grade B

In [55]:
#Nested if else >> you can have multiple if else inside if else
x = 1
y = 6
if x > 5:
    if y > 5:
        print("both x and y is greater than 5")
    else:
        print("x is greater than 5 but y is less than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [57]:
is_vip = True
age = 15
if is_vip:
    if age >=18:
        if age < 65:
            print("welcome to vip customer")
        else:
            print("you are vip and very imp. you are eligible for senior citizenship discount")
    else:
        print("vip status is only for adult")
else:
    print("you are not a vip customer and will be charged a regular price")

vip status is only for adult

In [73]:
a = input("enter a no")# by default input treat everything as a string
print("the no is", a)

enter a no ajay

the no is ajay

In [75]:
type(a)

str

In [79]:
a = int(input("enter a no"))
a

enter a no 3

3

In [81]:
type(a)

int

In [89]:
a = int(input("enter a no"))
if a >= 100:
    print("the number is greater than 100")
elif 0<=a<100:
    print("the number is greater than 0 and less than 100")
else:
    print("this is the negative number")

enter a no -5

this is the negative number

In [97]:
name = input("Please enter Your Name")
email = input("Please enter Email")
pasword = input("Please enter your password")

if name == "":
    print("Name can not be Blank")
else:
    if "@" not in email:
        print("Email not have @ and Invalid Email")
    else:
        if len(pasword) > 0:
           print("No Password Entered, Please enter Valid Password")
        else:
            print("Login registered!! Success")

Please enter Your Name priya
Please enter Email priyabghnghn
Please enter your password frtgythn

Email not have @ and Invalid Email